.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: 0;
}
span {
  margin: 7px 0px;
}
.LeftSide {
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ProfilePic {
  width: 300px;
  height: 400px;
  border-radius: 100px;
  border: 4px solid black;

  object-fit: cover;
  
}
.Name {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
}
.Title {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 18px;
}

.Email-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
}
.Email-Container:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}
.Email-Button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.transparent-effect {
  opacity: 0.6;
}
.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.linkdedin-Icon{
  width: 55px;
  height: 90px;
  object-fit: contain;
}
.github-Icon {
  width: 70px;
  height: 80px;
  object-fit: cover;
}

.RightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #a6a6a6;
}
